body,
html {
  margin: 0;
  padding: 10px;
  font-family: Verdana, sans-serif;
  color: #111;
}
body {
  padding: 3em;
}
h1 {
  font-size: 30px;
}
.alert-button {
  margin: 15px 0;
  display: block;
}
.cat-picture {
  width: 50%;
}