doctype html
html
  head
    title pug

    meta(charset='UTF-8')

    link(rel="stylesheet", href="/styles/main.css", type="text/css")

  body

    h1 Hi there!

    button.alert-button trigger an alert!

    include partials/cat-picture


    script(src="/scripts/bundle.js")
